<?xml version="1.0"?>
<config>
    <modules>
        <CaianMonteiro_BoletoRegistrado>
            <version>0.1.0</version>
        </CaianMonteiro_BoletoRegistrado>
    </modules>
    <global>
        <models>
            <boletoregistrado>
                <class>CaianMonteiro_BoletoRegistrado_Model</class>
                <resourceModel>boletoregistrado_resource</resourceModel>
            </boletoregistrado>
            <boletoregistrado_resource>
                <class>CaianMonteiro_BoletoRegistrado_Model_Resource</class>
            </boletoregistrado_resource>
        </models>
        <blocks>
            <boletoregistrado>
                <class>CaianMonteiro_BoletoRegistrado_Block</class>
            </boletoregistrado>
        </blocks>
        <helpers>
            <boletoregistrado>
                <class>CaianMonteiro_BoletoRegistrado_Helper</class>
            </boletoregistrado>
        </helpers>
        <resources>
            <boletoregistrado_setup>
                <setup>
                    <module>CaianMonteiro_BoletoRegistrado</module>
                </setup>
            </boletoregistrado_setup>
        </resources>
    </global>
    <default>
        <payment>
            <boletoregistrado>
                <active>0</active>
                <model>boletoregistrado/paymentmethod</model>
                <order_status>pending</order_status>
                <title>Boleto Bancário Registrado</title>
                <payment_action>sale</payment_action>
            </boletoregistrado>
        </payment>
    </default>
    <frontend>
        <routers>
            <boletoregistrado>
                <use>standard</use>
                <args>
                    <module>CaianMonteiro_BoletoRegistrado</module>
                    <frontName>boletoregistrado</frontName>
                </args>
            </boletoregistrado>
        </routers>
    </frontend>
</config>